@charset "UTF-8";
:root {
  /* 主題色 */
  --darkGreen:#60827B !important;
  --green:#84A295 !important;
  --lightGreen:#B7CDC2 !important;
  --yellow:#D9B300 !important;
  --beige:#EAE6DA !important;
  --creamyWhite:#F7F6EE !important;
  --gray:#7B7C7C !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
}

header {
  width: 100%;
}

header nav {
  width: 100%;
  margin: 15px 0 0 0;
}

header nav h2 {
  margin: 0;
}

header nav h2 a {
  font-weight: 400;
  color: var(--lightGreen);
}

header nav h2 a:active {
  color: var(--lightGreen);
}

header nav h2 a:hover {
  color: var(--lightGreen);
  text-decoration: none;
}

header nav #link {
  padding-top: 10px;
  text-decoration: none;
}

header nav #link a {
  text-decoration: none;
  color: var(--yellow);
  padding-left: 20px;
  font-size: 8px !important;
  font-weight: 300;
}

header nav #link a:hover {
  color: #f7dc4f;
}

#Home {
  height: 70vh;
}

#Home #right {
  height: 100%;
  width: 100%;
  background: var(--darkGreen);
}

#Home #right .text {
  position: absolute;
  top: 35%;
  right: 19%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#Home #right .text p {
  margin: 0;
  color: var(--lightGreen);
  font-size: 2rem;
  text-shadow: 1px 1px white, -1px -1px #444;
}

#Home #right .text h1 {
  color: var(--yellow);
  font-size: 3rem;
  text-shadow: 1px 1px white, -1px -1px #444;
  margin: 0;
}

#Home #right .text h6 {
  color: var(--yellow);
  font-weight: lighter;
}

#About {
  width: 100%;
  height: auto;
  position: relative;
}

#About .image {
  min-height: 400px;
  background: url("../img/me.jpg") no-repeat center/cover;
}

#About li {
  color: var(--yellow);
  list-style-type: none;
}

#About li a {
  color: var(--yellow);
}

#Portfolio {
  width: 100%;
  height: auto;
  position: relative;
}

#Portfolio .popup-gallery a {
  margin-bottom: 20px !important;
  margin: auto;
}

#Portfolio .popup-gallery a .size {
  width: 300px;
  height: 150px;
}

#Portfolio .popup-gallery a .size1 {
  width: 300px;
  height: 200px;
}

#Portfolio .list-group {
  margin: 20px;
}

#Portfolio .list-group .list-group-item {
  border: solid 5px transparent;
}

#Portfolio .list-group .list-group-item a {
  color: var(--darkGreen);
}

#Portfolio .list-group .list-group-item .active {
  color: #3a3a3a;
  background: #c7c7c7;
  border: 0.25rem inset #eeeeee;
}

#Portfolio .card {
  border-radius: 15px;
  width: auto;
  height: auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-bottom: 20px;
}

#Portfolio .card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

#Portfolio .card .card-header {
  color: var(--darkGreen);
  font-size: 1.5rem;
  background: var(--beige);
  border-radius: 15px 15px 0 0;
}

#Portfolio .card img {
  height: 200px;
}

#Portfolio .card p {
  font-size: 1rem;
  font-weight: bolder;
}

#Portfolio .card ul {
  font-size: 14px;
  margin: 20px;
  color: var(--darkGreen);
}

#Portfolio .card .card-body {
  background: var(--beige);
  color: var(--yellow);
  border-radius: 0 0 15px 15px;
}

#Portfolio .card .card-body a {
  color: white;
  background: var(--darkGreen);
  width: 100px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  line-height: 30px;
}

#Portfolio .card .card-body a:hover {
  text-decoration: none;
}

#Skill {
  width: 100%;
  height: auto;
  position: relative;
}

#Skill .row h2 {
  color: var(--yellow);
}

#Skill .row i {
  font-size: 30px;
  padding-right: 3px;
}

#Skill ul {
  font-size: 1.3rem;
  padding-left: 20px;
  color: var(--green);
}

#Resume {
  width: 100%;
  position: relative;
}

#Resume .resume-title {
  font-weight: 700;
}

#Resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--gray);
  position: relative;
}

#Resume .resume-item h4 {
  line-height: 18px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 10px;
}

#Resume .resume-item h5 {
  font-size: 16px;
  color: var(--creamyWhite);
  background: var(--gray);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

#Resume .resume-item ul {
  padding-left: 20px;
}

#Resume .resume-item li {
  padding-bottom: 10px;
}

#Resume .resume-item:last-child {
  padding-bottom: 0;
}

#Resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--gray);
}

#Resume .resume-item em {
  color: var(--darkGreen);
  font-weight: 600;
}

#About .title, #Skill .title, #Resume .title, #Portfolio .title {
  margin-bottom: 30px;
}

#About .title span, #Skill .title span, #Resume .title span, #Portfolio .title span {
  position: absolute;
  top: 30px;
  color: var(--creamyWhite);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

#About .title h2, #Skill .title h2, #Resume .title h2, #Portfolio .title h2 {
  padding-top: 25px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--darkGreen);
  position: relative;
  z-index: 2;
}

#Footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: relative;
  background: var(--darkGreen);
  color: white;
}

#go_top_page {
  display: none !important;
}

@media (min-width: 414px) {
  #Home #right .text {
    position: absolute;
    top: 35%;
    right: 20%;
  }
  #About .image {
    background: url("../img/me.jpg") no-repeat center/contain;
  }
  #About li {
    color: var(--yellow);
    list-style-type: none;
  }
  #About li a {
    color: var(--yellow);
  }
}

@media (min-width: 768px) {
  #header nav {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
  #Home #right {
    width: 40%;
    float: right;
  }
  #Home #right .text {
    position: absolute;
    top: 35%;
    right: 13%;
  }
  #Home #left {
    float: left;
    width: 60%;
    height: 100%;
    background: url("../img/me2.jpg") no-repeat center/cover;
    background-position: 10% center;
    background-attachment: fixed;
  }
  #Skill .balance {
    -ms-flex-item-align: start !important;
        -ms-grid-row-align: start !important;
        align-self: start !important;
  }
  #Portfolio .list-group li {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #particles-js {
    height: 320% !important;
  }
  #Home {
    height: 50vh;
  }
  #Home #right {
    width: 60%;
    float: right;
  }
  #Home #right .text {
    position: absolute;
    top: 25%;
    right: 15%;
  }
  #Home #left {
    float: left;
    width: 40%;
    height: 100%;
    background: url("../img/me2.jpg") no-repeat left/cover !important;
    background-attachment: fixed;
  }
  #ALL .row, #VUE .row, #JQUERY .row, #NODE .row, #CSS .row, #OTHER .row {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
  #ALL .row .card, #VUE .row .card, #JQUERY .row .card, #NODE .row .card, #CSS .row .card, #OTHER .row .card {
    height: 525px !important;
  }
  #ALL .row .card a, #VUE .row .card a, #JQUERY .row .card a, #NODE .row .card a, #CSS .row .card a, #OTHER .row .card a {
    position: absolute;
    bottom: 20px;
    right: 16px;
  }
  #NODE .row .card {
    height: 550px !important;
  }
  #Portfolio .list-group-item {
    border: none !important;
  }
}

@media (min-width: 1024px) {
  #Home #right .text {
    position: absolute;
    top: 26%;
    right: 8%;
  }
  #Home #right .text p {
    font-size: 4rem;
  }
  #Home #right .text h1 {
    font-size: 6rem;
  }
  #Home #left {
    float: left;
    width: 40%;
    height: 100%;
    background: url("../img/me2.jpg") no-repeat left/cover !important;
    background-attachment: fixed;
  }
  #About, #Skill {
    padding-bottom: 30px;
  }
  #Portfolio .list-group .list-group-item a {
    color: var(--darkGreen);
    font-size: 20px;
  }
  #Skill .balance {
    padding-left: 50px !important;
  }
  #ALL .row, #VUE .row, #JQUERY .row, #NODE .row, #CSS .row, #OTHER .row {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
  #ALL .row .card, #VUE .row .card, #JQUERY .row .card, #NODE .row .card, #CSS .row .card, #OTHER .row .card {
    height: 480px !important;
  }
  #ALL .row .card a, #VUE .row .card a, #JQUERY .row .card a, #NODE .row .card a, #CSS .row .card a, #OTHER .row .card a {
    position: absolute;
    bottom: 20px;
    right: 16px;
  }
  #NODE .row .card {
    height: 480px !important;
    width: 400px;
  }
}

@media (min-width: 1200px) {
  #Home {
    height: 100vh;
  }
  #Home #right {
    width: 60%;
    float: right;
  }
  #Home #right .text {
    position: absolute;
    top: 48%;
    right: 15%;
  }
  #Home #right .text p {
    font-size: 5rem;
  }
  #Home #right .text h1 {
    font-size: 7rem;
  }
  #Home #left {
    float: left;
    width: 40%;
    height: 100%;
    background: url("../img/me2.jpg") no-repeat left/cover !important;
    background-attachment: fixed;
  }
}
